In [44]:
import pandas as pd
import numpy as np

In [15]:
df = pd.read_csv('/Users/adityapandey/Downloads/spotify_millsongdata.csv')

In [16]:
df.head()

,artist,song,link,text
0,ABBA,Ahe's My Kind Of Girl,/a/abba/ahes+my+kind+of+girl_20598417.html,"Look at her face, it's a wonderful face \r\nA..."
1,ABBA,"Andante, Andante",/a/abba/andante+andante_20002708.html,"Take it easy with me, please \r\nTouch me gen..."
2,ABBA,As Good As New,/a/abba/as+good+as+new_20003033.html,I'll never know why I had to go \r\nWhy I had...
3,ABBA,Bang,/a/abba/bang_20598415.html,Making somebody happy is a question of give an...
4,ABBA,Bang-A-Boomerang,/a/abba/bang+a+boomerang_20002668.html,Making somebody happy is a question of give an...

In [17]:
df.tail()

,artist,song,link,text
57645,Ziggy Marley,Good Old Days,/z/ziggy+marley/good+old+days_10198588.html,Irie days come on play \r\nLet the angels fly...
57646,Ziggy Marley,Hand To Mouth,/z/ziggy+marley/hand+to+mouth_20531167.html,Power to the workers \r\nMore power \r\nPowe...
57647,Zwan,Come With Me,/z/zwan/come+with+me_20148981.html,all you need \r\nis something i'll believe \...
57648,Zwan,Desire,/z/zwan/desire_20148986.html,northern star \r\nam i frightened \r\nwhere ...
57649,Zwan,Heartsong,/z/zwan/heartsong_20148991.html,come in \r\nmake yourself at home \r\ni'm a ...

In [18]:
df.shape

(57650, 4)

In [19]:
df.isnull().sum()

artist    0
song      0
link      0
text      0
dtype: int64

In [20]:
df =df.sample(10000).drop('link', axis=1).reset_index(drop=True)

In [21]:
df.head(10)

,artist,song,text
0,Britney Spears,It Should Be Easy,I've been thinking \r\nJust sitting thinking ...
1,Air Supply,Bring Out The Magic,When all else fails and you have nothing \r\n...
2,The Beatles,Baby's In Black,"Oh dear, what can I do? \r\nBaby's in black ..."
3,Eric Clapton,It's In The Way That You Use It,[Chorus:] \r\nIt's in the way that you use it...
4,Jimmy Buffett,Love In The Library,On the corner of Government and Bay Avenue \r...
5,Diana Ross,Girls,"Girls, they are so lovely \r\nOh girls, girls..."
6,Counting Crows,Holiday In Spain,Got no place to go \r\nBut there's a girl wai...
7,Pat Benatar,Tell It To Her,I'm the one you put all your stories on \r\nS...
8,Norah Jones,Things You Don't Have To Do,I walk down the diamond-studded concrete canyo...
9,Bing Crosby,Last Night On The Backporch,"There's a girl I'm wild about, every time I ta..."

In [22]:
df.tail(10)

,artist,song,text
9990,Deep Purple,Talk About Love,"Talking real world, all that pain \r\nTry to ..."
9991,Ella Fitzgerald,Come Rain Or Come Shine,"I'm gonna love you, like nobody's loved you \..."
9992,Cat Stevens,On The Road To Find Out,Well I left my happy home \r\nTo see what I c...
9993,Glen Campbell,Ann,I know I'll never meet another hunk of woman l...
9994,Patsy Cline,It Wasn't God Who Made Honky Tonk Angels,It wasn't God who made honky tonk angels \r\n...
9995,X-Ray Spex,Identity,Identity is the crisis can't you see \r\nIden...
9996,Chaka Khan,"Signed, Sealed, Delivered",Like a fool I went and stayed too long \r\nNo...
9997,Alabama,Clear Water Blues,"Clear water blues, thinkin' of you \r\nSittin..."
9998,Eddie Cochran,Oo Ba La Baby,"Oo ba Ia baby, he's my Joe \r\nOo ba la baby,..."
9999,John Prine,Letter To The Penthouse Forum,"Dear penthouse, \r\nI never did believe anyth..."

In [23]:
df['text'][0]

"I've been thinking  \r\nJust sitting thinking  \r\nOn why I love you  \r\nAnd all my reasons  \r\nAnd if I lost you  \r\nBoy, if I lost you  \r\nI'd lose myself  \r\nAnd I wouldn't feel the way I feel now  \r\n  \r\nYou bring me sin  \r\nYes, you bring me sin  \r\nYou make me feel like a million, billion  \r\nI'll let you in  \r\nBut don't you break my heart  \r\nDon't you rip me apart  \r\nNo, don't you rip me apart  \r\n  \r\nBaby, love, it should be easy  \r\nIt shouldn't be complicated  \r\nIt should be easy  \r\nI don't know how else to say it  \r\n  \r\n(You don't know how to)  \r\n  \r\nI've got visions  \r\nBoy, I've got visions of me and you  \r\nHappily just living  \r\nNow go there out there  \r\nThem beautiful men  \r\nBut you my future  \r\nBaby, you my right now  \r\nIf there was a scale from 1 to 10  \r\nThen my love for you is a million, billion  \r\nBoy, I'll love you till the day I'm dead  \r\nSo please, don't mess with my head  \r\nPlease, don't mess with my head  \r\n  \r\nBaby, love, it should be easy  \r\nIt shouldn't be complicated  \r\nIt should be easy  \r\nI don't know how else to say it  \r\n  \r\n(You don't know how to)  \r\n  \r\nLa da di  \r\nLa di da  \r\nIt's the only way to love  \r\nLa da di  \r\nLa di da  \r\nIt's the only way to love (To love)  \r\n  \r\nI don't know how, baby love, it should be easy  \r\nIt shouldn't be complicated  \r\nIt should be easy  \r\nI don't know how else to say it  \r\n  \r\nLa da di  \r\nLa di da  \r\nIt's the only way to love  \r\nLa da di  \r\nLa di da  \r\n  \r\n(You don't know how to)\r\n\r\n"

In [24]:
df.shape

(10000, 3)

# Text Preprocessing

In [25]:
df['text'] = df['text'].str.lower().replace(r'^\w\s', ' ').replace(r'\n', ' ', regex = True)

In [26]:
import nltk
from nltk.stem.porter import PorterStemmer
stemmer = PorterStemmer()

In [27]:
def tokenization(txt):
    tokens = nltk.word_tokenize(txt)
    stemming = [stemmer.stem(w) for w in tokens]
    return " ".join(stemming)

In [28]:
tokenization("you are beautiful")

'you are beauti'

In [29]:
df['text'] = df['text'].apply(lambda x: tokenization(x))

In [30]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [31]:
tfidvector = TfidfVectorizer(analyzer='word',stop_words='english')
matrix = tfidvector.fit_transform(df['text'])
similarity = cosine_similarity(matrix)

In [32]:
similarity[0]

array([1.        , 0.0568135 , 0.06777219, ..., 0.01250669, 0.18948148,
       0.01419262])

In [34]:
df[df['song'] == 'Ann'].index[0]

9993

# Recommender Function

In [35]:
def recommendation(song_df):
    idx = df[df['song'] == song_df].index[0]
    distances = sorted(list(enumerate(similarity[idx])),reverse=True,key=lambda x:x[1])
    
    songs = []
    for m_id in distances[1:21]:
        songs.append(df.iloc[m_id[0]].song)
        
    return songs

In [37]:
recommendation("Ann")

['Be Thankful',
 'More Than A Feeling',
 'Thank You',
 'Doubly Good To You',
 "I'm Thankful",
 'Thank You',
 'Oh My Lord',
 'Work Me, Lord',
 'But I Might Die Tonight',
 'Behold A Lady',
 'Pictures In My Head',
 'I Never Dreamed',
 'This Heart',
 'Just Like A Woman',
 'I Want To Thank You',
 'Just Like A Woman',
 'I See You Lord',
 'Thank You For The Music',
 'Oh Draw Me Lord',
 'The Sheep And The Goats']

In [24]:
import pickle
pickle.dump(similarity,open('similarity.pkl','wb'))
pickle.dump(df,open('df.pkl','wb'))

In [49]:
def evaluate_recommendation_system():
    # Initialize lists to store evaluation metrics
    precision_scores = []
    recall_scores = []
    f1_scores = []
    
    # Iterate over each song in the dataset
    for idx, row in df.iterrows():
        # Exclude the current song from the dataset
        test_song = row['song']
        df_train = df[df.index != idx]
        
        # Get recommendations for the test song
        recommended_songs = recommendation(test_song)
        
        # Assume user feedback: the user likes the top 5 recommended songs
        user_feedback = recommended_songs[:5]
        
        # Calculate evaluation metrics
        precision = len(set(user_feedback) & set(recommended_songs)) / len(recommended_songs)
        recall = len(set(user_feedback) & set(recommended_songs)) / len(user_feedback)
        f1 = 2 * (precision * recall) / (precision + recall) if precision + recall > 0 else 0
        
        # Append evaluation metrics to lists
        precision_scores.append(precision)
        recall_scores.append(recall)
        f1_scores.append(f1)
    
    # Calculate average evaluation metrics
    avg_recall = np.mean(recall_scores)
    
    
    
    print("Average Recall:", avg_recall)

In [48]:
evaluate_recommendation_system()

Average Recall: 0.9712799999999999